
<!DOCTYPE html>
<center lang="en">
<head>
   <style>
       i{
           color: red;
           font-style: italic;
       }
   </style>
</head>
<body bgcolor="#ff7f50" align="center">
<center >

<marquee behavior="alternate" width="100%"><h1>Welcome to<i>Project Info</i>Project</h1></marquee>
</center>

<h1>Please Select Required Option</h1>
<h2>
    <a href="./insert">Click here to insert the Product</a><br/>
    <a href="./display">Click here to Display the Product</a><br/>
    <a href="./update">Click here to Update the Product</a><br/>
    <a href="./delete">Click here to Delete the Product</a><br/>
</h2>
</center>

</body>
</html>