
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body bgcolor="orange">

<div align="center" style="padding-top:20px">
    <h1 class="h1"><marquee behavior="alternate"><font color="#dc143c">Welcome to DjangoWorld</font></marquee></h1>
    <h2><a href="./reg"><font color="blue">Clicker here to register</font></a></h2>
    <h2><a href="./login"><font color="blue">Clicker here to login</font></a></h2>
</div>

<pre id="id1" style="float:right;padding-top: 130px;
            font-size:x-large;
            font-style:italic">
    <b>By</b>
    Python SivaReddy
    +91-8328662780
    reddysiva1207@gmail.com
    Soft ware,
    Hitechcity,
    Hyderabad.
</pre>
</body>
</html>



</body>
</html>